@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: hsl(210, 46%, 95%);
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.3;
}

.container{
    display: flex;
    max-width: 1440px;
    margin: 100px auto;
}

.item-1{
    flex-basis: 77%;
    display: flex;
    flex-wrap: wrap;
}

.card-1,
.card-2,
.card-3,
.card-4{
    margin: 15px;
    padding: 30px;
}

.card{
    border-radius: 10px;
    box-shadow: 37px 41px 36px -38px #8080808a;
}

.card-1{
    flex-basis: calc(66.66% - 30px);
    color: #fff;
    background: hsl(263, 55%, 52%) url(../images/bg-pattern-quotation.svg) no-repeat top 10px right 100px;
    flex-shrink:5;
}

.card-2{
    background: hsl(217, 19%, 35%);
    flex-basis: calc(33.33% - 30px);
    color: #fff;
    flex-shrink: 1;
}

.card-3{
    background: hsl(0, 0%, 100%);
    flex-basis: calc(33.33% - 30px);
}

.card-4{
    background: hsl(219, 29%, 14%);
    flex-basis: calc(66.66% - 30px);
    color: #fff;
}

.item-2{
    flex-basis: 23%;
    padding: 20px;
    margin: 17px;
    background: hsl(0, 0%, 100%);
}

header{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

header>img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2px rgb(137, 99, 199);
    margin-right: 10px;
}

header p{
    color: rgb(179 175 175 / 75%);
    font-weight: 600;
    margin-top: 5px;
}

.card__lead{
    font-size: 23px;
    margin-bottom: 20px;
}

.card__quote{
    opacity: 70%;
    font-size: 16px;
    font-weight: 500;
}

@media (max-width: 1080px){
    .container{
        display: block;
    }
}

@media(max-width: 768px){
    .item-1{
        display: block;
    }
}